/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow:
    0 0 10px #0000000f,
    0 0 5px #0000000f,
    0 0 1px #0000000f;
}
