.home-main {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.nav-list {
  display: flex;
  gap: 16px;
}

.nav-list > li > a,
.back-link {
  left: 0;
  z-index: 10;
  display: block;
  padding: 12px 24px;
  border: 2px solid #809bff88;
  background-color: #ffffffff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  color: #2f448ebb;
  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease,
    transform 0.2s ease;
}

.back-link {
  position: fixed;
  top: 20px;
  left: 20px;
}

.nav-list > li > a:hover,
.nav-list > li > a:focus,
.back-link:hover,
.back-link:focus {
  border-color: #809bffff;
  background-color: #eef0ffff;
  color: #2f448eff;
  transform: scale(1.025);
}
